.git
.github
node_modules
vendor
.env.backup
.env.local
.env.example
storage/framework/cache/data
storage/logs
storage/debugbar
storage/ci
public/hot
.vscode
.idea
npm-debug.log
yarn-error.log
tests
.gitlab-ci.yml
Dockerfile
docker-compose*.yml
*.md
!README.md
.DS_Store
.sync-conflict-*
*.log
