apiVersion: v1
kind: Service
metadata:
  name: {{ include "xpos.fullname" . }}-web
  labels:
    {{- include "xpos.labels" . | nindent 4 }}
    app.kubernetes.io/component: web
spec:
  type: {{ .Values.web.service.type }}
  ports:
  - port: {{ .Values.web.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    {{- include "xpos.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: web
